<style>
  /* Estilos adicionales para mejorar la presentación del README */

  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
  }

  h1, h2, h3 {
    color: #333;
  }

  img {
    max-width: 20%;
    height: auto;
  }

  /* Añade más estilos según sea necesario */
</style>
